@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2 style="font-weight:bold">Ko smo mi?</h2>
<br />
<div style="font-size: medium">
    <p>
        Poduzeće X-Host d.o.o. je jedna od vodećih web hosting kompanija u Bosni i Hercegovini. Uslugama iz oblasti web hostinga i
        registracije domena se bavimo od 2015. godine. Primarni cilj poduzeća je predstaviti se na tržištu konkurentnim cijenama, te pouzdanom i
        kvalitetnom uslugom. X-Host d.o.o. nije preprodavač hosting usluga!
    </p>
    <p>
        Mi posjedujemo vlastiti data centar smješten u Bosni i Hercegovini koji se nalazi u Mostaru.
        Direktni optički linkovi prema svim većim Internet provajderima u Bosni i Hercegovini, redudantna mreža bazirana na Cisco opremi, vrhunska
        DELL PowerEdge serija servera, besplatna L3+L4 DDoS zaštita, te uvijek dostupna tehnička podrška nas stavljaju ispred konkurencije, a našim
        korisnicima garantiraju brz odziv i maksimalnu dostupnost servisa koje hostaju kod nas.
    <p>
        X-Host trenutno pruža usluge za 4069 zadovoljnih
        korisnika.
    </p>
    <br />
    <img src="~/Images/servers.jpg" alt="Servers image" style="width:1000px" class="center-block"/>
</div>

