@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
    <h2 style="font-weight:bold">Kontaktirajte nas</h2>
    <br />
<address>
    Druga Tita BB<br />
    880000 Mostar<br />
    <abbr title="Phone">Telefon:</abbr>
    425.555.0100
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:Support@example.com">podrska@x-host.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@x-host.com</a>
</address>
<br />
<h3 style="font-weight:bold">Gdje se nalazimo ?</h3>
<br />
<p style="position:center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46428.666457654355!2d17.786221079133952!3d43.33954865798106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b43a43b6340a9%3A0x14f32b2d4e37c5a!2sMostar%2088000!5e0!3m2!1sbs!2sba!4v1600448359768!5m2!1sbs!2sba" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
