@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../../Images/banner.png);background-size:cover;height:100%;position:relative">
    <h1 style="color:transparent">X-Hosting</h1>
    <p style="color:transparent" class="lead">Sa nama u sigurnu budućnost.</p>
    <br />
    <br />
    <br />
    <br />
    <p><a href="https://asp.net" class="btn btn-primary btn-lg center-block" style="width:150px;position:absolute;margin-top:50px;margin-left:440px;padding-left:10px">Više o ovome</a></p>
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-4 img-rounded">
        
        <h2 style="font-weight:bold">Web Hosting</h2>
        <p style="font-size:16px">
         Najbolji omjer kvalitete i cijene Web Hosting servera koji se nalaze u BIH. Mogućnost izbora više domena poput .ba, .info, .com, itd.
            Postanite jedan od zadovoljnih korisnika naših usluga Web Hostinga. Mogućnost plaćanja na rate.
        </p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" style="background-color:blue;color:white">Pročitaj Više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-weight:bold">Mail Hosting</h2>
        <p style="font-size:16px">Treba Vam jedan ili više mail servisa ? Nikakav problem. Kod nas dobijete super uslugu za super cijenu. Uz svaku kupljenu domenu dobijete
        +5 mail klijenata.</p>
        <br />
        <br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" style="background-color:blue;color:white">Pročitaj Više &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-weight:bold">Game Hosting</h2>
        <p style="font-size:16px">Želite moderan i pouzdan Game Server za vaše omiljene igre ? Na pravom ste mijestu. Nudimo 128 tick Servere bez lagga i visokog pinga.
        </p>
        <br />
        <br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" style="background-color:blue;color:white">Pročitaj Više &raquo;</a></p>
    </div>
</div>